@using Mooshak2.ViewModels
@model LoginInfo
<!--Here we use the _Login layout from the Shared directory-->
@{
    Layout = "~/Views/Shared/_Masterpage.cshtml";
    ViewBag.Title = "Log In TEST";
}


@using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-signin login" }))
{
    <fieldset>

        <img src="~/Content/Pictures/hr.gif" alt="hrlogo" height="100" width="100" />

        <div>
            @Html.TextBoxFor(p => p.Username, new { @class = "form-control", placeholder = "Username" })
            @Html.ValidationMessageFor(p => p.Username)
        </div>

        <div>
            @Html.TextBoxFor(p => p.Password, new { @class = "form-control", placeholder = "Password", type = "password" })
            @Html.ValidationMessageFor(p => p.Password)
        </div>

        <input type="submit" value="Log In" class="btn btn-success" id="theSubmitButton" />

    </fieldset>

}

@if (Model.UserDidNotGetLoggedIn)
{
    <p>Wrong username or password</p>
}

