@model Mooshak2.ViewModels.UserModel
<!--Here we use the _Students layout from the Shared directory-->
@{
    Layout = "~/Views/Shared/_Students.cshtml";
}
@{
    ViewBag.Title = "Log In";
}

<p>THIS IS THE STUDENT </p>