@{
    ViewBag.Title = "Admin_Courses_View";
}

<h2>Admin_Courses_View</h2>

<body>

    <img href="http://cadia.ru.is/images/RU_midjad_white2.gif" />
    <img href="https://mooshak.dcc.fc.up.pt/logos/mooshak.gif" />
    <input type="text" value="Notandanafn" />

    <div class="row">
        <div class="col-md-4">
            <input type="submit" value="Stofna nýjan áfanga"/>
            <table>
                <thead>
                    <tr>
                        <th>Stofnaðir Áfangar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Forritun</td>
                    </tr>
                    <tr>
                        <td>Gagnaskipan</td>
                    </tr>
                    <tr>
                        <td>Python</td>
                    </tr>
                    <tr>
                        <td>Tölvuhögun</td>
                    </tr>
                </tbody>
            </table>

            <select id="kennaraval">
                <option></option>
                <option></option>
            </select>
        </div>

        <div class="col-md-4">
            <table>
                <thead>
                    <tr>
                        <th>Nemendur Valins Áfanga</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- @ foreach(ApplicationUser.RealName where Authorization = 1)
                     {
                     <tr>
                         <td>
                             this.RealName;
                         </td>
                     </tr>
                     } TODO: Finna almennilegan kóða til að sækja þetta-->

                </tbody>
            </table>

            <input type="submit" value="Eyða völdum nemendum úr áfanganum" />

        </div>

        <div class="col-md-4">
            <input type="submit">Tengja valda nemendur við valin áfanga</input>

            <table>
                <thead>
                    <tr>
                        <th>Notendur Mooshak</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- @ foreach(ApplicationUser.RealName where Authorization = 1)
                     {
                     <tr>
                         <td>
                             this.RealName;
                         </td>
                     </tr>
                     } TODO: Finna almennilegan kóða til að sækja þetta-->

                </tbody>
            </table>
        </div>

    </div>

    <form action="www.ru.is">
        <input type="submit" value="Logout" class="btn btn-default">
    </form>

</body>