@{
    ViewBag.Title = "Admin_Errors_View";
}

<h2>Admin_Errors_View</h2>

<body>

    <img href="http://cadia.ru.is/images/RU_midjad_white2.gif"></img>
    <img href="https://mooshak.dcc.fc.up.pt/logos/mooshak.gif"></img>
    <input type="text" value="Notandanafn" />

    <!--TODO: Put code to find errors to report-->

    <form action="www.ru.is">
        <input type="submit" value="Logout" class="btn btn-default">
    </form>

</body>
