@model IEnumerable<Mooshak2.ViewModels.StudentViewModel>

@{
    Layout = "~/Views/Shared/_Masterpage.cshtml";
}

@{
    ViewBag.Title = "Teachers";
}
<nav class="navbar navbar-inverse navbar-static-top">
	<div class="row">
		<div class="col-sm-6">
			<img src="~/Content/Pictures/hr.gif" alt="hrlogo" height="100" width="100" />
		</div>
		<div class="col-sm-6 text-center" >
			<h5>Teacher Name</h5>
			<select id="course">
				<option>Gaganaskipan</option>
				<option>Verklegt námskeið 2</option>
			</select>
			<button class="btn btn-primary">Útskrá</button>
		</div>
	</div>
</nav>

<div class="container main-content">
	<ul class="nav nav-tabs pull-left">
		<li class="active"><a data-toggle="tab" href="#settings">Settings</a></li>
		<li><a data-toggle="tab" href="#studentList">Student List</a></li>
	</ul>

	<div class="tab-content">
		<div id="settings" class="tab-pane fade in active">
			<h3>Settings</h3>
			<div class="col-md-8">
				<form action="">
					<input type="text" placeholder="Verkefni 1">
					<p>Verkefni hefst</p>
					<p>Verkefni endar</p>
					<input type="datetime" placeholder="9/9/1999" />
					<input type="datetime" placeholder="9/9/1999" />
					<input type="submit" value="vista" class="btn btn-default" />
					<input type="checkbox" value="Leyfa hópa" />
					<select>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
					<input type="checkbox" value="Takmarks endurtekningar" />
					<select>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>5</option>
						<option>7</option>
						<option>10</option>
						<option>15</option>
						<option>20</option>
					</select>
					<p>Fjöldi verkefnahluta</p>
					<select>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</form>

				<!--TODO: Code for dynamic display of Solution picks and project descriptions.-->
			</div>
		</div>

		<div id="studentList" class="tab-pane fade">
			<h3>Student List</h3>
			<div class="col-md-4">
				<table>
					<thead>
						<tr>
							<th>@Html.DisplayNameFor(Model => Model.Name)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								@foreach (var item in Model)
								{
									@Html.DisplayFor(modelItem => item.Name)
								}
							</td>
						</tr>

					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>
