@{
    ViewBag.Title = "Teacher_Options_View";
}

<h2>Teacher View</h2>

<body>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#settings">Settings</a></li>
        <li><a data-toggle="tab" href="#studentList">Student List</a></li>
    </ul>

    <div class="tab-content">
        <div id="settings" class="tab-pane fade in active">
            <h3>HOME</h3>
            <div class="col-md-4">
                <img href="http://cadia.ru.is/images/RU_midjad_white2.gif" />
                <img href="https://mooshak.dcc.fc.up.pt/logos/mooshak.gif" />
                <input type="text" value="Username" />
                <select>
                    <option value="" disabled selected>Course</option>
                </select>
                <input type="submit" value="Create new project" />

                <form action="../Home/Index">
                    <input type="submit" value="Logout" class="btn btn-default">
                </form>
            </div>

            <div class="col-md-8">

            </div>
        </div>

        <div id="studentList" class="tab-pane fade">
            <h3>Student List</h3>
            <div class="col-md-4">
                <table>
                    <thead>
                        <tr>
                            <th>Nemendur Valins Áfanga</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*@ foreach(ApplicationUser.RealName where Authorization = 1)
                            {
                            <tr>
                                <td>
                                    this.RealName;
                                </td>
                               <td>
                                   this.SubmissionNumber;
                               </td>
                            </tr>
                            } TODO: Finna almennilegan kóða til að sækja þetta*@

                    </tbody>
                </table>

            </div>
        </div>
    </div>



</body>