@{
    ViewBag.Title = "Teacher_Options_View";
}

<h2>Teacher_Options_View</h2>

<body>

    <div class="col-md-4">
        <img href="http://cadia.ru.is/images/RU_midjad_white2.gif" />
        <img href="https://mooshak.dcc.fc.up.pt/logos/mooshak.gif" />
        <input type="text" value="Notendanafn" />
        <select>
            <option value="1"> Áfangi</option>
            <option value="2"> Verkefni</option>
        </select>
        <input type="submit" value="Stofna" />

        <form action="www.ru.is">
            <input type="submit" value="Logout" class="btn btn-default">
        </form>
    </div>

    <div class="col-md-8">

    </div>

</body>