
@{
    ViewBag.Title = "Teacher_Student_List_View";
}

<h2>Teacher_Student_List_View</h2>

<div class="col-md-4">
    <table>
        <thead>
            <tr>
                <th>Nemendur Valins Áfanga</th>
            </tr>
        </thead>
        <tbody>
            <!-- @ foreach(ApplicationUser.RealName where Authorization = 1)
             {
             <tr>
                 <td>
                     this.RealName;
                 </td>
                <td>
                    this.SubmissionNumber;
                </td>
             </tr>
             } TODO: Finna almennilegan kóða til að sækja þetta-->

        </tbody>
    </table>

    <input type="submit">Eyða völdum nemendum úr áfanganum</input>

</div>