img
{
    display: block;
    margin: 1em auto;
}

form
{
    max-width: 26.25em;
	width: 100%;
    margin: auto;
    background-color: white;
    border: 0.1875em dotted rgba(0,0,0,0.1);
  }
 
input, .btn
{
	max-width: 80%;
	width: 100%;
	display: block;
	margin: 1em auto;
}
 


/*
    When the screen is less then 35em (or the max width is 35em)
    35em = 35*15px = 560px
*/
@media only screen and (max-width: 35em)
{
    .btn, .form-signin input
    {
        max-width: 100%;
        width: 80%;
    }
    form
    {
        max-width: 100%;
		width:100%;
        border: none;
    }
}
