img
{
    display: block;
    margin: 1em auto;
}

form.login
{
    max-width: 26.25em;
	width: 100%;
    margin: 5em auto;
    background-color: white;
    border: 0.1875em dotted rgba(0,0,0,0.1);
  }
 
input.login, .btn-success.login
{
	width: 100%;
	display: block;
	margin: 1em auto;
}
 


/*
    When the screen is less then 48em (or the max width is 48em)
    48em = 48*16px = 768px
*/
@media only screen and (max-width: 48em)
{
    .btn-success.login, .form-signin input.login
    {
        width: 80%;
    }
    form.login
    {
		margin: auto;
        max-width: 100%;
        border: none;
    }
}
