html, body
{
    margin: 0px;
	padding: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content
{
    padding-left: 0.9375em;
    padding-right: 0.9375em;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt
{
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea
{
    max-width: 17.5em;
}

/* custom stuff */

input[type="file"]
{
	display: none;
}

.form-control
{
	margin: 1em auto;
}

.no-border
{
	border: none;
}
