header
{
    display: block;
}

img{
    margin-left: 0.625em;
}
 
.inputbox1{
    width: 25em;
    margin-right: 0px;
    margin-left: 8.75em;
    margin-top: -6.25em;
 
}
.dropDown{
    margin-left: 8.75em;
}
 
 
.verkefnahluti{
    margin-left: 20.8125em;
    margin-top: -3.4375em;
 
}
 
.uploading{
    margin-left: 33.75em;
    margin-top: -5.5625em;
}
 
.logout{
    margin-left: 46.875em;
    margin-top: -2.5em;
}
 
.wrapper{
    width: 58.75em;
    margin: 1.25em auto 1.25em auto;
}