.navbar-inverse{
  background-color: white;
}

.tab-content {
    background-color: #f6f5f8;
}

header {
    margin-top: 75px;
}
header img {
    height: 100px;
    width: 100px;
    margin-right: 15px;
}
.navbar-header {width: 100%;}

.navbar-header .logout  {
    float: left;
    color: red;
    margin-top: 15px;
    margin-bottom: 5px;
}

.navbar-header .logout h5  {
    float: left;
    color: red;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-right: 25px;
}


.main-content{
    margin-top: 100px;
}
.main-content .tab-content .active {
    padding: 15px;
    margin-top: 42px;
    background-color: #ddd;
}



