header{
    display: block;
}
img{
    margin-left: 10px;
}
 
.inputbox1{
    width: 400px;
    margin-right: 0px;
    margin-left: 140px;
    margin-top: -100px;
 
}
.dropDown{
    margin-left: 140px;
}
 
 
.verkefnahluti{
    margin-left: 333px;
    margin-top: -55px;
 
}
 
.uploading{
    margin-left: 540px;
    margin-top: -89px;
}
 
.logout{
    margin-left: 750px;
    margin-top: -40px;
}
 
.wrapper{
    width: 940px;
    margin: 20px auto 20px auto;
}