@model Mooshak2.ViewModels.StudentViewModel

@{
    Layout = "~/Views/Shared/_Masterpage.cshtml";
}

@{
    ViewBag.Title = "Students";
}


<header class="navbar-inverse navbar-static-top">

	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img src="~/Content/Pictures/hr.gif" alt="hrlogo" height="100" width="100" />
			</div>
			<div class="col-sm-6 text-center">
				<h5 class="">Daniel Freyr Sigurðsson</h5>
				<h6>Gagnaskipan</h6>
				<button class="btn btn-primary">Log out</button>
			</div>
		</div>
	</div>

</header>
<div class="container">

	<!-- row #1 : dropdown and file upload -->
    <div class="row text-center">
        <div class="col-sm-4">
            @Html.DropDownListFor(model => model.Username, Model.AvailableAssignments, new { @class = "form-control" })
        </div>

        <div class="col-sm-4">
            <select class="form-control" id="project">
                <option>Lab 1</option>
                <option>Lab 2</option>
            </select>
        </div>

        <div class="col-sm-4">
            <div class="btn btn-primary">
                <input type="file" />
				Upload
            </div>
        </div>
    </div>

	<!-- row #2 : Tabs -->
	<div class="row">
		<div class="col-sm-12">

			<ul class="nav nav-tabs">
				<li>
					<a data-toggle="tab" href="#home">Description</a>
				</li>
				<li>
					<a data-toggle="tab" href="#menu1">Uploaded code</a>
				</li>
				<li>
					<a data-toggle="tab" href="#menu2">Results</a>
				</li>
			</ul>

		</div>
	</div>

	<!-- row #3 : Tabed Content -->
	<div class="row">
		<div class="col-sm-12">

			<div class="tab-content">
				<div id="home" class="tab-pane fade in active">
					<h3>Description</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>

				<div id="menu1" class="tab-pane fade">
					<h3>Uploaded code</h3>
					<p>
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
				</div>

				<div id="menu2" class="tab-pane fade">
					<h3>Results</h3>
					<p>
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
					</p>
				</div>

			</div>

		</div>
	</div>

</div>
