@model Mooshak2.ViewModels.UserModel
<!--Here we use the _Students layout from the Shared directory-->

@{
    Layout = "~/Views/Shared/_Students.cshtml";
}

@{
    ViewBag.Title = "Students";
}


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="logout pull-right">
                <h5 class="">Daniel Freyr Sigurðsson</h5>
                <button class="btn btn-primary">Útskrá</button>
            </div>
        </div>
        
    </div>
</nav>

<header>
    <div class="container">
        <div class="row">
            <img class="pull-left" src="~/Content/Pictures/hr.gif" alt="hrlogo" height="100" width="100"/>
            <div class="col-sm-3 ">
                <h5>Daniel Freyr Sigurðsson</h5>
                <h6>Gagnaskipan</h6>
            </div>
            <div class="col-sm-2">
                <select class="form-control" id="verkefnahluti">
                    <option>Verkefnahluti 1</option>
                    <option>Verkefnahluti 2</option>
                    <option>Verkefnahluti 3</option>
                    <option>Verkefnahluti 4</option>
                    <option>Verkefnahluti 5</option>
                </select>
            </div>
            <div class="col-sm-2">
                <select class="form-control" id="verkefni">
                    <option>Lab 1</option>
                    <option>Lab 2</option>
                </select>
            </div>
        </div>
    </div>
</header>

<div class="container main-content">
    <ul class="nav nav-tabs pull-right">
        <li class="active"><a data-toggle="tab" href="#home">Verkefnalýsing</a></li>
        <li><a data-toggle="tab" href="#menu1">Innsendur Kóði</a></li>
        <li><a data-toggle="tab" href="#menu2">Niðurstaða Lausnar</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3>Description</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div id="menu1" class="tab-pane fade">
            <h3>Verkefnalysing</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Menu 2555</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
    </div>
</div>

    


