@model Mooshak2.ViewModels.StudentViewModel

@{
	Layout = "~/Views/Shared/_Masterpage.cshtml";
}

@{
	ViewBag.Title = "Students";
}


<header class="navbar navbar-static-top">

	<div class="container zuga">
		<div class="row">
			<div class="col-xs-6">
				<img class="pull-left" src="~/Content/Pictures/hr.gif" alt="hrlogo" height="100" width="100" />
			</div>
			<div class="col-xs-6 text-center">
				<h5 class=""><span id="whoIsLoggedIn">@Model.Name</span></h5>
				<h6 id="whatIsTheCourse">Gagnaskipan</h6>
				<button class="btn btn-primary" id="logout" onclick="location.href='/?dis=yes'">Log out</button>
			</div>
		</div>
	</div>

</header>
<div class="container">

	<!-- row #1 : dropdown and file upload -->
	<form action="toDatabase">
		<div class="row form-inline assignment-chooser">
			<div class="col-sm-4 form-group">
				<label>Choose Assignment</label>
				@Html.DropDownListFor(model => model.Username, Model.AvailableAssignments, new { @class = "form-control" })
			</div>

			<div class="col-sm-4 form-group">
				<label>Choose tasks</label>
				<select class="form-control" id="project">
					<option value="">-Choose--</option>
				</select>
			</div>

			<div class="col-sm-4 col-sm-4">
				<div class="input-group upload-file">
					<span class="input-group-btn">
						<span class="btn btn-primary btn-file">
							Browse&hellip; <input type="file" multiple>
						</span>
					</span>
					<input type="text" class="form-control file-input" readonly>
				</div>
			</div>

			
		</div>
	</form>
	<!-- row #2 : Tabs -->
	<div class="row">
		<div class="col-sm-12">

			<ul class="nav nav-tabs">
				<li>
					<a data-toggle="tab" href="#home">Description</a>
				</li>
				<li>
					<a data-toggle="tab" href="#menu1">Uploaded code</a>
				</li>
				<li>
					<a data-toggle="tab" href="#menu2">Results</a>
				</li>
			</ul>

		</div>
	</div>

	<!-- row #3 : Tabed Content -->
	<div class="row">
		<div class="col-sm-12">

			<div class="tab-content">
				<div id="home" class="tab-pane fade in active">
					<h3>Description</h3>
					<p>
						<span id="des2"></span>
					</p>
				</div>

				<div id="menu1" class="tab-pane fade">
					<h3>Uploaded code</h3>
					<div class="row">
						<div class="col-sm-12">
							@using (Html.BeginForm("CheckCode", "Student", FormMethod.Post, new { @class = "submitcode", Id="CheckCode" }))
							{
								@Html.TextAreaFor(p => p.SubmittedCode, new { @class = "code-area" })
								<button class="btn btn-default btn-block">Submit Code</button>
							}
							<div id="result-container">
								<h2>Result</h2>
								<p id="result"></p>
							</div>
						</div>
					</div>
				</div>

				<div id="menu2" class="tab-pane fade">
					<h3>Error</h3>
					<p>
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
					</p>
				</div>

			</div>

		</div>
	</div>

</div>